<footer id="heroku-footer">
  <!--<div class="wrapper">
    <div class="col heroku-footer-links">
      <nav class="col">
        <h4>Products</h4>
        <ul>
          <li><a href="https://www.heroku.com/platform">Heroku Platform</a></li>
          <li><a href="https://www.heroku.com/connect">Heroku Connect</a></li>
          <li><a href="https://www.heroku.com/postgres">Heroku Postgres</a></li>
          <li><a href="https://www.heroku.com/redis">Heroku Redis</a></li>
          <li><a href="https://www.heroku.com/kafka">Kafka on Heroku</a></li>
          <li><a href="https://www.heroku.com/enterprise">Heroku Enterprise</a></li>
          <li><a href="https://www.heroku.com/teams">Heroku Teams</a></li>
          <li><a href="https://elements.heroku.com/">Elements Marketplace</a></li>
          <li><a href="https://www.heroku.com/pricing">Pricing</a></li>
        </ul>
      </nav>
      <nav class="col">
        <h4>Resources</h4>
        <ul>
          <li><a href="https://devcenter.heroku.com/">Documentation</a></li>
          <li><a href="https://blog.heroku.com/">Blog</a></li>
          <li><a href="https://devcenter.heroku.com/start">Get Started</a></li>
        </ul>
      </nav>
      <nav class="col">
        <h4>About</h4>
        <ul>
          <li><a href="https://www.heroku.com/about">About Us</a></li>
          <li><a href="https://www.heroku.com/what">What is Heroku</a></li>
          <li><a href="https://www.heroku.com/customers">Our Customers</a></li>
          <li><a href="https://www.heroku.com/careers">Careers</a></li>
          <li><a href="https://partners.heroku.com/">Partners</a></li>
          <li><a href="https://www.heroku.com/elements">Elements</a></li>
        </ul>
      </nav>
      <nav class="col">
        <h4>Support</h4>
        <ul>
          <li><a href="https://help.heroku.com/">Help Center</a></li>
          <li><a href="https://status.heroku.com/">Status</a></li>
          <li><a href="https://www.heroku.com/critical">Premium Support</a></li>
          <li><a href="https://www.heroku.com/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>-->
  <p class="tAlign-c">Copyright</p>
</footer>
