<div class="operate">
  <div class="operate-panel">
    <md-button class="submit" (onSubmit)="_add($event)">新增</md-button>
    <md-button class="submit" (onSubmit)="_edit($event)">编辑</md-button>
    <md-button class="submit" (onSubmit)="_del($event)">删除</md-button>
  </div>
  <div class="search-panel">
    <md-input placeholder="角色名称" class="search-input" value="{{roleName}}"
              (onChange)="_onChange('roleName',$event)"></md-input>
    <md-button class="search" (onSubmit)="_edit($event)">查找</md-button>
  </div>
</div>
<md-table [data]="data" [arrKey]="arrKey" (handleItem)="_handleItem($event)"></md-table>
<md-popup (hidePoput)="_exitEdit()" [show]="edit">
  <div class="add-panel">
    <h3>角色修改{{roleId}}</h3>
    <md-input placeholder="角色名称" class="add-input" value="{{roleName}}"
              (onChange)="_onChange('roleName',$event)"></md-input>

    <md-button class="add-button" (onSubmit)="_submit($event)">保 存</md-button>
  </div>
</md-popup>

<md-popup (hidePoput)="_exitEdit()" [show]="add">
  <div class="add-panel">
    <h3>角色新增</h3>
    <md-input placeholder="角色名称" class="add-input" value="{{roleName}}"
              (onChange)="_onChange('roleName',$event)"></md-input>

    <md-button class="add-button" (onSubmit)="_submit($event)">保 存</md-button>
  </div>
</md-popup>
