<div class="login-cnt">
  <!--<md-input placeholder="用户名" class="full-width" [(ngModel)]="userName"></md-input>
  <md-input placeholder="密码" class="full-width" [(ngModel)]="userPsw"></md-input>-->
  <md-input placeholder="用户名" class="full-width" value="{{userName}}" (onChange)="_onChange('userName',$event)"></md-input>
  <md-input placeholder="密码" class="full-width" value="{{userPsw}}" (onChange)="_onChange('userPsw',$event)"></md-input>

  <md-button (onSubmit)="_onSubmit($event)">确定</md-button>
</div>
