#navigation {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  line-height: 1;

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  ul {
    position: relative;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;
    margin: 0;
    padding: 0 10px;

    a {
      text-decoration: none;
      color: #444;
      font-weight: 400;

      &:hover {
        text-decoration: none;
        color: #79589f;
      }
    }

    > a {
      display: inline-block;
      padding: 7px 0;
      text-decoration: none;

      &:hover {
        color: #79589f;
      }

      &:focus {
        outline: 0;
      }

      &.highlight {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        color: #fff;
        padding: 6px 12px;

        &:hover {
          background: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  .user {
    li {
      font-size: 14px;
    }

    > span {
      color: #9377b3;
      margin: 0 .2em;
    }

    &.logged-in {
      > a {
        &:first-child {
          margin-right: 12px;
        }
      }
    }
  }

  .main-nav {
    float: left;
    margin: 7px 0 0 15px;
  }

  &.active {
    .nav-wrapper {
      display: block;
      position: fixed;
      z-index: 11;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(14, 10, 18, 0.95);

      &:before {
        content: "";
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100px;
        z-index: 0;
        background-color: transparent;
        background-image: -webkit-linear-gradient(rgba(14, 10, 18, 0.95) 50%, rgba(14, 10, 18, 0) 100%);
        background-image: linear-gradient(rgba(14, 10, 18, 0.95) 50%, rgba(14, 10, 18, 0) 100%);
      }

      a{
        color: rgba(255,255,255,0.9);
      }
    }

    #logo {
      position: fixed;
      z-index: 12;
    }

    .main-nav {
      position: relative;
      width: 100%;
      padding: 100px 40px;
      font-size: 1.5em;
      margin: 0;
      z-index: -1;
    }

    .mobile-nav {
      position: fixed;

      span {
        &:nth-child(1) {
          top: 6px;
          width: 0%;
          left: 50%;
        }

        &:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          top: 6px;
          width: 0%;
          left: 50%;
        }
      }
    }
  }

  #logo {
    a {
      background-image: url("/img/logo.svg");
    }
  }

  .mobile-nav {
    display: none;
    position: absolute;
    top: 32px;
    right: 23px;
    z-index: 12;

    span {
      background: #79589f;
    }
  }

  .tool-nav {
    position: fixed;
    top: 20px;
    right: 50px;
    margin: 8px 0 0 0;

    li {
      font-size: 13px;
      padding: 0 4px;
      margin: 0 10px;

      &:last-child {
        padding-right: 0;
        margin-right: 0;
      }

      >a{
        color: rgba(255,255,255,0.9);
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  #navigation {
    li {
      float: none;
      padding: 0;

      > a {
        color: #444;

        &:hover {
          color: #79589f;
        }
      }

      a {
        &.highlight {
          background: #79589f;
          color: #fff;

          &:hover {
            background: #60467e;
          }
        }
      }
    }

    .nav-wrapper {
      display: none;
      overflow: auto;
    }

    .nav-more {
      display: none;
    }

    #logo a {
      background-image: url("/img/logo.svg");
    }

    .user {
      > span {
        color: #aaa;
      }
    }

    .mobile-nav {
      display: block;
    }
  }
}

@media screen and (max-width: 600px) {
  #navigation {
    &.active {
      #logo {
        a {
          overflow: hidden;
          width: 40px;
        }
      }

      .main-nav {
        padding: 100px 20px;
      }

      .tool-nav {
        width: 100%;
        padding-left: 150px;

        li {
          float: left;
          margin: 0 16px 0 0;
          padding: 0;
          >a{
            color: rgba(255,255,255,0.9);
          }
        }
      }
    }
  }
}

.wrapper-full {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 66.25em;
  width: 93.96226%;
  position: relative;
  max-width: none;
  width: 100%;
  padding: 20px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#logo {
  float: left;
  font-size: 1em;
  margin: 0;
}

#logo a {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  height: 40px;
  width: 143px;
  background-image: url('/img/logo.svg');
  display: block;
  background-repeat: no-repeat;
}

.mobile-nav {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #c7bfdf;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2) {
      top: 8px;
    }

    &:nth-child(3) {
      top: 8px;
    }

    &:nth-child(4) {
      top: 16px;
    }
  }
}
