<nav id="navigation" [ngClass]="{'active':menuShow}">
    <span class="mobile-nav" (click)="_toggle($event)">
      Show nav
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="wrapper-full">
        <div id="logo">
            <a [routerLink]="['']">logo</a>
        </div>
        <div class="nav-wrapper">
            <ul class="main-nav">
                <li *ngFor="let menu of menuList"><a [routerLink]="[menu.menuId]">{{menu.menuName}}</a></li>
            </ul>
            <ul class="tool-nav">
                <li></li>
                <li class="user"><a (click)="_goToLogin($event)">登录</a><span>&nbsp;或&nbsp;</span><a class="sign-up highlight" [routerLink]="['register']">注册</a></li>
            </ul>
        </div>
    </div>
</nav>
