<div class="banner">
  <section class="scrubber">
    <ul class="banner-content">
      <li class="banner-item"><img src="img/image1.jpg"/></li>
      <li class="banner-item"><img src="img/image2.jpg"/></li>
      <li class="banner-item"><img src="img/image3.jpg"/></li>
      <li class="banner-item"><img src="img/image4.jpg"/></li>
    </ul>
    <ul class="banner-ico">
      <li class="ico-item active"></li>
      <li class="ico-item"></li>
      <li class="ico-item"></li>
      <li class="ico-item"></li>
    </ul>
  </section>
    <!--<section class="scrubber center">
        <h2>Magnolia 欢迎您~</h2>
        <p>玉兰（Magnolia denudata Desr.），木兰科落叶乔木，别名白玉兰、望春、玉兰花。 原产于中国中部各省，现北京及黄河流域以南均有栽培。木兰科玉兰亚属，落叶乔木。花白色到淡紫红色，大型、芳香，花冠杯状，花先开放，叶子后长，花期10天左右。中国著名的花木，南方早春重要的观花树木。上海市市花。玉兰花外形极像莲花，盛开时，花瓣展向四方，使庭院青白片片，白光耀眼，具有很高的观赏价值；为美化庭院之理想花型。</p>
    </section>-->
  <ng-content></ng-content>
</div>
