ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.scrubber {
  margin: 1em;
  cursor: ew-resize;
  overflow: hidden;
  position: relative;
}

.scrubber .content {
  max-width: 720px;
  margin: auto;
}

.banner-ico {
  position: absolute;
  bottom: 2em;
  width: 100%;
  text-align: center;
  .ico-item {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    border: 0;
    border-radius: 50%;
    background: rgba(121, 88, 159, 0.2);
    cursor: pointer;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    transition: background 0.2s linear;
    &.active {
      background: rgba(121, 88, 159, 0.9);
    }
  }

}

.banner-content {
  width: 500%;
  left: 0;
  .banner-item {
    width: 24%;
    display: inline-block;
    text-align: center;
    img {
      border: 0;
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }
}

.banner {
  position: relative;
  display: block;
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  overflow: visible;
  text-align: left;
  background: #fff;
  width: 100%;
}
