.button {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  button {
    width:100%;
    color:#fff;
    background-color:#79589f;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    &:active{
      opacity: 0.6;
    }
  }
}
