.main-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(121, 88, 159, 0.04);
}

.header-panel {
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.body-panel {
  flex: 5;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.operate-panel {
  flex: 2;
  min-width: 150px;
  border-right: 1px solid #ccc;
}

.content-panel {
  flex: 9;
  padding: 16px;
  //min-width: 700px;
}
